[Unit]
Description=Localkube
Documentation=https://github.com/kubernetes/minikube/tree/master/pkg/localkube
Wants=kubectl-proxy.service

[Service]
Type=notify
Restart=always
RestartSec=3

Environment=GODEBUG=netdns=go

ExecStartPre=/sbin/iptables -P FORWARD ACCEPT
ExecStartPre=/usr/bin/hostnamectl set-hostname kubernetes
ExecStart=/usr/local/bin/localkube --dns-domain=cluster.local --generate-certs=false --logtostderr=true --enable-dns=false
ExecStartPost=/usr/local/bin/minikube addons enable heapster

ExecReload=/bin/kill -s HUP 
ExecStopPost=/bin/bash -c "/usr/bin/docker stop $(docker ps -aq) >/dev/null"

[Install]
WantedBy=multi-user.target
