[Unit]
Description=Minikube
DefaultDependencies=no
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

Environment=MINIKUBE_WANTUPDATENOTIFICATION=false
Environment=MINIKUBE_WANTREPORTERRORPROMPT=false
Environment=MINIKUBE_HOME=/root
Environment=CHANGE_MINIKUBE_NONE_USER=true
Environment=KUBECONFIG=/root/.kube/config

ExecStart=/usr/local/bin/minikube start --vm-driver=none
StandardOutput=journal


[Install]
WantedBy=multi-user.target
